<a href="https://colab.research.google.com/github/zia89khaja/Test/blob/master/KNN_CrimeAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOAD LIBRARY

In [1]:
import pandas as pd  
import numpy as np    
from sklearn.preprocessing import StandardScaler                    # Importing to scale the features
from sklearn.model_selection import train_test_split                # Importing to split the data into train and test data
from sklearn.neighbors import KNeighborsClassifier                  # To instantiate a KNN Classifier
from sklearn.metrics import accuracy_score                          # To calculate the accuracy of classifiers
from sklearn.model_selection import GridSearchCV

LOAD DATASET

In [2]:
glass = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-3/master/Data/CaseStudy/glass.csv")
print('The shape of the dataset is:', glass.shape)

The shape of the dataset is: (214, 10)

DATA DESCRIPTION

In [17]:
glass.tail()

          RI     Na   Mg    Al     Si     K    Ca    Ba   Fe  Type
209  1.51623  14.14  0.0  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.0  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.0  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.0  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.0  2.08  73.36  0.00  8.62  1.67  0.0     7

In [15]:
glass.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516522,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [11]:
glass['Type'].unique()

array([1, 2, 3, 5, 6, 7])

In [16]:
glass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

DATA PRE PROCESSING

In [19]:
glass.drop_duplicates(inplace=True)
glass.shape

(213, 10)

MODEL BUILDING

In [20]:
#Splitting the dataset into X(Feature) and Y(Labels)
x=glass.loc[:,glass.columns != 'Type']
y=glass['Type']

In [21]:
print(x.shape)
print(y.shape)

(213, 9)
(213,)

In [22]:
#Instantiating a Standard SCalar function
sc =StandardScaler()

In [25]:
#Scaling the Feature/X Vales
scaled_values=sc.fit_transform(x)
print(scaled_values)
#scaled_values.shape

[[ 0.87984017  0.28955813  1.25723832 ... -0.14346582 -0.35380764
  -0.58830108]
 [-0.24381562  0.59640332  0.63931074 ... -0.79020061 -0.35380764
  -0.58830108]
 [-0.71641202  0.15454625  0.6045957  ... -0.82534924 -0.35380764
  -0.58830108]
 ...
 [ 0.76086485  1.17327228 -1.86017161 ... -0.36138732  2.94550057
  -0.58830108]
 [-0.60735132  1.19781989 -1.86017161 ... -0.33326842  2.80467644
  -0.58830108]
 [-0.40905912  1.01371278 -1.86017161 ... -0.23485225  3.00585377
  -0.58830108]]

(213, 9)

In [26]:
#columns=glass.columns[:-1] -==> Used to retain Column Heading else we get 1,2...8 as Col Names
scaled_X=pd.DataFrame(data=scaled_values, columns=glass.columns[:-1])
scaled_X.head()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe
0,0.879840,0.289558,1.257238,-0.706370,-1.133248,-0.673480,-0.143466,-0.353808,-0.588301
1,-0.243816,0.596403,0.639311,-0.180863,0.097037,-0.028962,-0.790201,-0.353808,-0.588301
2,-0.716412,0.154546,0.604596,0.182950,0.433746,-0.167073,-0.825349,-0.353808,-0.588301
3,-0.227291,-0.238216,0.701798,-0.322346,-0.058368,0.109149,-0.516041,-0.353808,-0.588301
4,-0.306608,-0.164573,0.653197,-0.423405,0.550299,0.078457,-0.621487,-0.353808,-0.588301

In [30]:
X_train,X_test,y_train,y_test=train_test_split(scaled_X,y,test_size=0.3,random_state=42,stratify=y)

print('Train Data Shape: ', X_train.shape,y_train.shape)
print('Train Data Shape: ', X_test.shape,y_test.shape)

Train Data Shpae:  (149, 9) (149,)
Train Data Shpae:  (64, 9) (64,)

MODEL DEVELOP and EVALUATE

In [32]:
KNNClsf = KNeighborsClassifier()
KNNClsf.fit(X_train,y_train)

y_pred_train=KNNClsf.predict(X_train)

In [34]:
y_pred_test=KNNClsf.predict(X_test)

acc_train=accuracy_score(y_pred_train,y_train)

acc_test=accuracy_score(y_pred_test,y_test)

print(acc_train)
print(acc_test)
#0.738255033557047
#0.703125

0.738255033557047
0.703125

TUNING THE MODEL

In [53]:
KNNClsf = KNeighborsClassifier(n_neighbors=3, metric='manhattan')
KNNClsf.fit(X_train,y_train)

y_pred_train=KNNClsf.predict(X_train)
y_pred_test=KNNClsf.predict(X_test)

acc_train=accuracy_score(y_pred_train,y_train)

acc_test=accuracy_score(y_pred_test,y_test)

print(acc_train)
print(acc_test)

#K=5   => 0.738255033557047,0.703125
#K=10   => 0.6442953020134228,0.71875
#K=15   => 0.6375838926174496,0.703125
#K=10, metric='manhattan'   => 0.6845637583892618,0.734375
#K=10, metric='euclidean'   => 0.6442953020134228,0.71875
#K=10, metric='minkowski'   => 0.6442953020134228,0.71875

0.825503355704698
0.796875